@import "tailwindcss";
@config "../tailwind.config.js";
@tailwind utilities;

@theme {
  --color-midnight: #090040;
  --color-input__bg: #1e1e1e;
  --color-secondary: #1d1a27;
}

@layer component {
  .gradient-wrapper {
    width: 70%;
    height: 70%;
    max-width: 40%;
    z-index: -1;
    opacity: 0.5;
    filter: blur(100px);
    position: absolute;
    top: 100px;
    right: 0;
    transform-style: preserve-3d;
    will-change: transform;
    animation: continuousRotate 16s linear infinite;
    overflow: hidden;
  }

  .list-header > div {
    display: flex;
    width: 100%;
    justify-content: center;
    color: var(--color-neutral-400);
  }

  .gradient-item {
    width: 20%;
    max-width: 70%;
    max-height: 70%;
    min-height: 70%;
    min-width: 70%;
    position: absolute;
    border-radius: 100000px;
  }
  .first {
    background-color: #ff4895;
    z-index: 1;
    top: -31px;
    right: -112px;
  }

  .second {
    background-color: #1766ff;
    bottom: 0;
    right: 0;
  }

  .third {
    background: #6923ff;
  }

  .button-with__span {
    padding: 12px 0;
    border-radius: 6px;
  }

  .button-with__span > div {
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
    font-weight: 600;
    font-size: 14px;
    color: var(--color-neutral-100);
  }

  .gradient-title__sub {
    position: absolute;
    top: 10%;
    left: -7%;
    opacity: 0.5;
    filter: blur(80px);
    background: #9929ea;
    width: 160px;
    height: 160px;
  }

  .gradient-title__sub02 {
    position: absolute;
    top: 50%;
    left: 1%;
    opacity: 0.5;
    filter: blur(80px);
    background: #9929ea;
    width: 160px;
    height: 160px;
  }

  @keyframes continuousRotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
